dialog {
   background-color: rgb(24, 24, 24);
   border: 2px solid white;
   border-radius: .5rem;
   margin: auto;
   padding: 1rem;
}


dialog input,
dialog select,
dialog option,
dialog textarea {
   color: black;
   font-size: 1.2rem;
   min-height: 2rem;
   padding: .25rem;
}


dialog button {
   background: none;
   border: 2px solid white;
   border-radius: .5rem;
   font-size: 1.3rem;
   font-weight: bold;
   min-width: 25%;
   padding: .5rem;
}


dialog button:hover,
dialog button:focus {
   background-color: black;
}


dialog summary {
   margin-bottom: 1rem;
}


dialog > form {
   margin-top: 2rem;
}


dialog > form > div:first-of-type {
   align-items: center;
   display: grid;
   gap: 1rem;
   grid-template-columns: 1fr 5fr;
   margin-bottom: 1rem;
}


#add-task-dialog-save-button-container {
   display: flex;
   justify-content: end;
   margin-top: 2rem;
}