@import url(./taskList.css);
@import url(./dialog.css);


* {
   box-sizing: border-box;
   color: whitesmoke;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin: 0;
   padding: 0;
}


body {
   align-items: center;
   background-color: black;
   display: flex;
   justify-content: center;
   min-height: 100vh;
}


main {
   border: 2px solid white;
   border-radius: 1rem;
   min-width: 20%;
   padding: 2rem;
}


.control-container {
   display: flex;
   justify-content: space-between;
   margin-top: 2rem;
}
