button,
input[type="checkbox"] {
   cursor: pointer;
}


#task-list-container {
   max-height: 70vh;
   margin-top: 2rem;
   overflow-y: auto;
}


#task-list-control-container > button {
   background: none;
   border: 1px solid var(--border-color);
   border-radius: .5rem;
   font-size: 1.1rem;
   font-weight: bold;
   padding: .5rem;
}


#task-list-control-container > button:hover {
   background-color: var(--dialog-background-color);
}


.task {
   align-items: center;
   background-color: var(--task-background-color);
   border: 1px solid var(--border-color);
   border-radius: .5rem;
   display: grid;
   gap: 1rem;
   grid-template-columns: 1fr 5fr 1fr;
   margin-right: .5rem;
   margin-top: 1.5rem;
   padding: .5rem;
}


.task:first-child {
   margin-top: 0;
}


.task > div {
   align-items: center;
   display: flex;
   justify-content: center;
}


.task > div > button {
   background-color: rgb(4, 117, 4);
   border-radius: 50%;
   border: none;
   height: clamp(.5rem, 2rem, 3rem);
   width: clamp(.5rem, 2rem, 3rem);
}


.task > div > .task-priority-1 {
   background-color: var(--task-priority-1);
}


.task > div > .task-priority-2 {
   background-color: var(--task-priority-2);
}


.task > div > .task-priority-3 {
   background-color: var(--task-priority-3);
}


.task > div > button:hover,
.task > div > button:focus {
   background-color: var(--task-background-color);
   background-image: url('../icons/delete.svg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
}


.task > input {
   min-height: 2rem;
}


.task > p {
   font-weight: bold;
   word-break: break-all;
}


.task summary {
   font-weight: bold;
   margin-bottom: .2rem;
   word-break: break-all;
}


.task-done details,
.task-done > p {
   text-decoration: 2px line-through white;
}


::-webkit-scrollbar {
   width: .7rem;
}
  

::-webkit-scrollbar-thumb {
   background: var(--scrollbar-main-color); 
   border-radius: .5rem;
}
 

::-webkit-scrollbar-thumb:hover {
   background: var(--scrollbar-hover-color); 
}