button,
input[type="checkbox"] {
   cursor: pointer;
}


#task-list-container {
   max-height: 70vh;
   margin-top: 1rem;
   overflow-y: auto;
}


#task-list-control-container>button {
   background: none;
   border: 1px solid var(--border-color);
   border-radius: .5rem;
   font-size: 1.1rem;
   font-weight: bold;
   margin-top: 2rem;
   padding: .5rem;
}


#task-list-control-container>button:hover {
   background-color: var(--dialog-background-color);
}


.task {
   align-items: center;
   background-color: var(--task-background-color);
   border: 1px solid var(--border-color);
   border-radius: .5rem;
   display: grid;
   gap: 1rem;
   grid-template-columns: 1fr 5fr 1fr;
   margin-top: 1.5rem;
   padding: .5rem;
}


.task > button {
   background-color: rgb(4, 117, 4);
   border-radius: 50%;
   border: none;
   height: 2rem;
   width: 2rem;
}


.task > .task-priority-1 {
   background-color: var(--task-priority-1);
}


.task > .task-priority-2 {
   background-color: var(--task-priority-2);
}


.task > .task-priority-3 {
   background-color: var(--task-priority-3);
}


.task > button:hover,
.task > button:focus {
   background-color: var(--task-background-color);
   background-image: url('../icons/delete.svg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
}


.task > input {
   min-height: 2rem;
}


.task > p {
   font-weight: bold;
}


.task summary {
   font-weight: bold;
   margin-bottom: .2rem;
}


.task-done details,
.task-done > p {
   text-decoration: 2px line-through white;
}